<%= simple_form_for([:admin, @event]) do |f| %>
  <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :code, label: "Código"%>
    </div>

    <div class="form-inputs">
      <%= f.input :name, label: "Nome"%>
    </div>

    <div class="form-inputs">
      <%= f.label :date, label: "Data" %>
      <%= date_field(:event, :date) %>
    </div>

    <div class="form-inputs">
      <%= f.input :address, label: "Endereço" %>
    </div>

    <div class="form-inputs">
      <%= f.input :description, label: "Descrição" %>
    </div>

    <%= f.simple_fields_for :image do |i| %>
      <div class="form-inputs">
        <%= i.input :image, as: :image_preview %>
      </div>
    <% end %>

    <div class="form-inputs">
      <%= f.input :release_sign_up, label: "Liberar Inscrições" %>
    </div>

    <div class="form-inputs">
      <%= f.input :published, label: "Publicar" %>
    </div>

  <div class="form-actions">
    <%= f.button :submit, value: "Enviar", class: "btn btn-primary btn-lg btn-block" %>
  </div>
<% end %>
