<%= simple_form_for([:admin, @event]) do |f| %>
  <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :code %>
    </div>

    <div class="form-inputs">
      <%= f.input :name %>
    </div>

    <div class="form-inputs">
      <%= f.label :date %>
      <%= date_field(:event, :date) %>
    </div>

    <div class="form-inputs">
      <%= f.input :address %>
    </div>

    <div class="form-inputs">
      <%= f.input :description %>
    </div>

    <%= f.simple_fields_for :image do |i| %>
      <div class="form-inputs">
        <%= i.input :image, as: :image_preview %>
      </div>
    <% end %>

    <div class="form-inputs">
      <%= f.input :release_sign_up %>
    </div>

    <div class="form-inputs">
      <%= f.input :published %>
    </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
