<div class="container">
  <% if policy(Event).create? %>
  <div class="row centered">
      <h2> <%= link_to new_admin_event_path, class: "btn btn-primary" do %>
        <i class="fa fa-plus-circle"></i> Novo Evento
      <% end %>
      </h2>
      <hr>
  </div>
  <% end %>


<div class="row col-lg-8 col-lg-offset-2">

<div class="panel panel-info">
  <!-- Default panel contents -->
  <div class="panel-heading"><b>Eventos</b></div>

<table class="table table-hover table-responsive", style="background:#fff">
  <thead>
    <tr>
      <th>Código</th>
      <th>Nome</th>
      <th>Data</th>
      <th>Inscrição liberada</th>
      <th>Publicado</th>
      <th>Inscrito</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.code %></td>

        <td><%= event.name %></td>
        <td><%= event.date %></td>
        <td>
          <% if event.release_sign_up %>
            <i class="fa fa-check" style="color: green"></i>
          <% else %>
            <i class="fa fa-times" style="color: red"></i>
          <% end %>
        </td>
        <td>
          <% if event.published %>
            <i class="fa fa-check" style="color: green"></i>
          <% else %>
            <i class="fa fa-times" style="color: red"></i>
          <% end %>
        </td>

        <td>
          <% if event.there_is_the_user? current_user %>
            <i class="fa fa-circle"></i>
          <% else %>
            <i class="fa fa-circle-thin"></i>
          <% end %>
        </td>

        <td>
          <%= link_to admin_event_path(event) do %>
            <i class="fa fa-eye btn btn-default btn-xs"></i>
          <% end %>
        </td>

        <% if policy(event).create? %>
        <td>
          <%= link_to edit_admin_event_path(event) do %>
            <i class="fa fa-pencil btn btn-default btn-xs"></i>
          <% end %>
        </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

</div>
</div>

<div class="container">
<div class="row">
  <div class="text-center"> <%= will_paginate @events, renderer: BootstrapPagination::Rails, previous_label: "Voltar", next_label: "Próxima"  %> </div>
</div>
