<div class="container">
  <div class="row centered">
      <h2> <%= @event.code %> - <b><%= @event.name %></b> </h2>
      <hr>
    </div><!-- /row mt -->

      <!-- edit form column -->
<div class="col-lg-10 col-lg-offset-1 centered">

    <% if !@event.image.nil? %>
      <%= image_tag @event.image.image.url, height: "200", class:"img-thumbnail" %>
    <% else %>
      <%= image_tag 'bg3.jpg', height: "200", class:"img-thumbnail" %>
    <% end %>
</div>


<div class="col-lg-5 col-lg-offset-1">
  <h4>Detalhes do Evento</h4>
    <p><b>Status:</b> <%= @event.published %>  </p>
    <p><b>Inscrições:</b><%= @event.release_sign_up %> </p>
      
  <p><%= @event.description %></p>

       <br>
    <p class="centered">
      <%= link_to 'Editar', edit_admin_event_path(@event), class: "btn btn-primary" %> &nbsp;
      <%= link_to 'Inscrever Participante', admin_event_users_path, class: "btn btn-info" %> &nbsp;
      <%= link_to 'Equipes', admin_event_teams_path, class: "btn btn-warning" %>
    </p>
</div>

<div class="col-lg-4 col-lg-offset-1">
  <h4>Informações do Evento</h4>
  <p><b>Data:</b> <%= @event.date %></p>
  <p><b>Local:</b> <%= @event.address %></p>

  <%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@event.latitude}%2C#{@event.longitude}",  height: "200" %>
</div>

</div>
