<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @event.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<p>
  <strong>Address:</strong>
  <%= @event.address %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<% if !@event.image.nil? %>
  <p>
    <strong>Image:</strong>
    <%= image_tag @event.image.image.url, size: "100" %>
  </p>
<% end %>
<p>
  <strong>Release sign up:</strong>
  <%= @event.release_sign_up %>
</p>

<p>
  <strong>Published:</strong>
  <%= @event.published %>
</p>

<%= link_to 'Edit', edit_admin_event_path(@event) %> |
<%= link_to 'Back', admin_events_path %> |
<%= link_to 'Users', admin_event_users_path %> |
<%= link_to 'Teams', admin_event_teams_path %>
