<p id="notice"><%= notice %></p>

<p>
  <strong>Descriptor:</strong>
  <%= @event.descriptor %>
</p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<p>
  <strong>Address:</strong>
  <%= @event.address %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Image:</strong>
  <%= @event.image %>
</p>

<p>
  <strong>Release sign up:</strong>
  <%= @event.release_sign_up %>
</p>

<p>
  <strong>Published:</strong>
  <%= @event.published %>
</p>

<%= link_to 'Edit', edit_admin_event_path(@event) %> |
<%= link_to 'Back', admin_events_path %>
