<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">

        <% @events.each.with_index do |event, index| %>
            <!--DESTAQUE -->
            <% if index == 0 %>
            <div class="item active">

                <%= image_tag("portfolio/full/item3.png") %>

                <div class="container">
                    <div class="carousel-caption">

                        <h1> <%= link_to event.name, event_path(code: event.code)%></h1>

                        <p><%=event.description.first(180) + " (...)" %></p>

                    </div>
                </div>
            </div>
         <%else if index < 3%>   
        <div class="item">

            <%= image_tag("portfolio/full/item3.png") %>

            <div class="container">
                <div class="carousel-caption">

                    <h1> <%= link_to event.name, event_path(code: event.code)%></h1>

                    <p><%=event.description.first(180) + " (...)" %></p>

                </div>
            </div>
        </div>
            <%end%>
            <%end%>
        <%end%>

    </div>

    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="fa icon-prev" aria-hidden="true"></span>
        <span class="sr-only"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="fa icon-next" aria-hidden="true"></span>
        <span class="sr-only"></span>
    </a>
</div><!-- /.carousel -->




<div class="container">
    <div class="row text-center">
        <br>
        <h2>Últimos Eventos</h2>
        <hr>
        <p class="lead">Nossa missão é contagiar e esinar as pessoas sobre saúde e empreendedorismo . Apresentamos estratégias e caminhos para juntos resolvermos problemas de saúde globalmente. </p>
    </div>


    <section id="portfolio">
        <div class="container">
            <div class="row">

                <% @events.each do |event| %>

                <div class="portfolio-items">
                    <div class="portfolio-item apps col-xs-12 col-sm-4 col-md-4"> 
                        <div class="recent-work-wrap">

                            <%= image_tag "portfolio/full/item6.png" , class: "img-responsive" %>

                            <div class="overlay">
                                <div class="recent-work-inner">
                                    <h3>

                                        <%= link_to event.name, event_path(code: event.code)%>

                                    </h3>
                                    <br>
                                    <p>

                                        <%=event.description.first(180) + " (...)" %>

                                    </p> 
                                </div> 
                            </div>
                        </div>
                    </div><!--/.portfolio-item-->
                    <%end%>

                </div>
            </div>
        </section><!--/#portfolio-item-->
    </div>

<hr class="featurette-divider">

<div class="container">
    <div class="row text-center">
        <br>
        <h2>Conheça e acompanhe o MedHacker</h2>
        <hr>
    </div>
<iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d32658099.57368591!2d-34.09407122922558!3d2.307032346419111!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sbr!4v1455871831351" width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
