<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
        <% @sliders.each.with_index do |slider, index| %>
            <!--DESTAQUE -->
            <% if index == 0 %>
                <div class="item active">
            <% else %>
                <div class="item">
            <% end %>
                <%= image_tag slider.image.image.slider.url %>

                <div class="container">
                    <div class="carousel-caption">
                        <% if slider.link.blank? %>
                            <h1> <%=slider.title%> </h1>
                        <% else %>
                            <h1> <%= link_to slider.title, slider.link %></h1>
                        <% end %>
                        <% if !slider.description.blank? %>
                            <p> <%=slider.description.first(180) + " (...)" %></p>
                        <%end%>
                    </div>
                </div>
            </div>
        <%end%>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="icon-prev"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="icon-next"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="container">
    <div class="row text-center">
        <br>
        <h2>Eventos MedHacker</h2>
        <hr>
    </div>


    <section id="portfolio">
        <div class="row">

        <% @events.each do |event| %>
            <div class="portfolio-items">
                    <div class="portfolio-item apps col-xs-12 col-sm-4 col-md-4">
                        <div class="recent-work-wrap">

                            <%= image_tag event.image.image.project.url , class: "img-responsive" %>

                            <div class="overlay text-center">
                                <div class="recent-work-inner">
                                    <h3>
                                        <%= link_to event.name, event_path(code: event.code)%>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div><!--/.portfolio-item-->
            <%end%>
            </div>
        </div>
    </section><!--/#portfolio-item-->
</div>

<div class="row">
  <div class="col-lg-6 col-lg-offset-3 "> <%= will_paginate @events %> </div>
</div>
<hr class="featurette-divider">

<div class="container">
    <div class="row text-center">
        <br>
        <h2>Conheça e acompanhe o MedHacker</h2>
        <hr>
         <%= image_tag "http://maps.google.com/maps/api/staticmap?size=2000x200&center=Brazil&sensor=false&zoom=3&scale=4#{Event.events_markers}",  height: "100%", width: "100%"  %>
    </div>
</div>


