<!--
<h1>Eventos</h1>

<% @events.each do |event| %>
  <h2> <b> <%= link_to event.code, event_path(code: event.code) %> </b>- <%=event.name%></h2>
<%end%>
-->

<div class="container">
<div class="row text-center">
   <br>
   <h2>Últimos Eventos</h2>
   <hr>
   <p class="lead">Nossa missão é contagiar e esinar as pessoas sobre saúde e empreendedorismo . Apresentamos estratégias e caminhos para juntos resolvermos problemas de saúde globalmente. </p>
</div>


<section id="portfolio">
        <div class="container">
            <div class="row">

<% @events.each do |event| %>
  
  <div class="portfolio-items">
      <div class="portfolio-item apps col-xs-12 col-sm-4 col-md-4"> 
          <div class="recent-work-wrap">
            
                <%= image_tag "portfolio/full/item6.png" , class: "img-responsive" %>
              
              <div class="overlay text-center">
                  <div class="recent-work-inner">
                      <h3>

                      <%= link_to event.name, event_path(code: event.code)%>
                      
                      </h3>
                      
                   <!--
                     <br>
                      <p>
                      
                      <%=event.description.first(180) + " (...)" %>

                      </p> 
                   -->
                  </div> 
              </div>
          </div>
      </div><!--/.portfolio-item-->
<%end%>

        </div>
    </div>
</section><!--/#portfolio-item-->
</div>

