<%= simple_form_for([:admin, @project], url: admin_event_team_project_path(
    @project, :code => @event.code, :event_team_id => @team)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, label: "Nome" %>
  </div>

  <div class="form-inputs">
    <%= f.input :description, label: "Descrição" %>
  </div>

  <div class="form-inputs">
    <%= f.input :problem %>
  </div>

  <div class="form-inputs">
    <%= f.input :solution %>
  </div>
 
  <div class="form-inputs">
    <%= f.input :team_description %>
  </div>

  <h2>Imagens do Projeto</h2>
  <hr>
  <%= f.simple_fields_for :images do |i| %>
    <h3>Image x</h3>
    <div class="form-inputs">
      <%= i.input :image, as: :image_preview %>
    </div>
  <% end %>

  <h2>Slider da Página</h2>
  <hr>
  <%= f.simple_fields_for :sliders do |s| %>
    <h3>Slider x</h3>
    <%= s.simple_fields_for :image do |i| %>
      <div class="form-inputs">
        <%= i.input :image, as: :image_preview%>
      </div>
    <% end %>

    <div class="form-inputs">
      <%= s.input :title, label: "Título" %>
    </div>

    <div class="form-inputs">
      <%= s.input :link, label: "Link"  %>
    </div>

    <div class="form-inputs">
      <%= s.input :description, label: "Descrição" %>
    </div>
  <% end %>

  <h2>Social Links</h2>
  <hr>
  <div class="form-inputs">
    <%= f.input :facebook_link %>
  </div>
  <div class="form-inputs">
    <%= f.input :youtube_link %>
  </div>
  <div class="form-inputs">
    <%= f.input :instagram_link %>
  </div>

  <h2>Email de Contato</h2>
  <hr>
  <div class="form-inputs">
    <%= f.input :email %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, value: "Enviar", class: "btn btn-primary btn-lg btn-block" %>
  </div>
<% end %>
