<div class="container">
  <div class="row centered">
      <h2> <%= link_to new_admin_event_team_project_path do %>
        <i class="fa fa-plus-circle"></i> Projeto
      <% end %>
      </h2>
      <hr>
    <h3>Projeto(os): <b><%= @team.name %> </b></h3>
   </div>
<div class="row col-lg-10 col-lg-offset-1">


<% @projects.each do |project| %>
  <h3> <b> <%= project.name %> </b> </h3>
  <h3> Why </h3>
  <p><%= project.problem %> </p>
  <h3> How </h3>
  <p><%= project.solution %> </p>
  <h3> What </h3>
  <p><%= project.team_description %> </p>

  <%= link_to 'Show', admin_event_team_project_path(project,
            code: @event.code, event_team_id: @team) %> |
  <%= link_to 'Edit', edit_admin_event_team_project_path(project,
            code: @event.code, event_team_id: @team) %> |
  <%= link_to 'Destroy', admin_event_team_project_path(project, code: @event.code,
          event_team_id: @team), method: :delete, data: { confirm: 'Tem certeza?' } %>
<% end %>

</div>

</div>
