<p id="notice"><%= notice %></p>

<h1>Listing <b><%= @team.name %> </b> Projects</h1>

<% @projects.each do |project| %>
  <h2> <b> <%= project.name %> </b> </h2>
  <h3> Why </h3>
  <p><%= project.problem %> </p>
  <h3> How </h3>
  <p><%= project.solution %> </p>
  <h3> What </h3>
  <p><%= project.team_description %> </p>

  <%= link_to 'Show', admin_event_team_project_path(project,
            code: @event.code, event_team_id: @team) %> |
  <%= link_to 'Edit', edit_admin_event_team_project_path(project,
            code: @event.code, event_team_id: @team) %> |
  <%= link_to 'Destroy', admin_event_team_project_path(project, code: @event.code,
          event_team_id: @team), method: :delete, data: { confirm: 'Are you sure?' } %>

<br>
<br>
<% end %>

<br>

<%= link_to 'New Project', new_admin_event_team_project_path %>
