<% content_for :title do %>
  <%= @project.name %>
<% end %>

<% content_for :name do %>
  <%= @project.name %>
<% end %>

<% content_for :carousel do %>
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <% @sliders.each.with_index do |slider, index| %>
        <!--DESTAQUE -->
        <% if index == 0 %>
            <div class="item active">
        <% else %>
            <div class="item">
        <% end %>
            <%= image_tag slider.image.image.slider.url %>

            <div class="container">
                <div class="carousel-caption">
                    <% if slider.link.blank? %>
                        <h1> <%=slider.title%> </h1>
                    <% else %>
                        <h1> <%= link_to slider.title, slider.link %></h1>
                    <% end %>
                    <% if !slider.description.blank? %>
                        <p> <%=slider.description %></p>
                    <%end%>
                </div>
            </div>
        </div>
    <%end%>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="icon-prev"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="icon-next"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<% end %>

<% content_for :team do %>
  <%= @project.team.name %>
<% end %>


<% content_for :description do %>
  <%= @project.description %>
<% end %>

<% content_for :problem do %>
  <%= @project.problem %>
<% end %>

<% content_for :image_problem do %>
  <%= image_tag(@project.images[0].image.project.url, class: "featurette-image img-responsive center-block img-thumbnail") %>
<% end %>

<% content_for :solution do %>
  <%= @project.solution %>
<% end %>

<% content_for :image_solution do %>
  <%= image_tag(@project.images[1].image.project.url, class: "featurette-image img-responsive center-block img-thumbnail") %>
<% end %>

<% content_for :team_description do %>
  <%= @project.team_description %>
<% end %>

<% content_for :image_team do %>
  <%= image_tag(@project.images[2].image.project.url, class: "featurette-image img-responsive center-block img-thumbnail") %>
<% end %>

<% content_for :networks do %>
  <%= link_to @project.facebook_link, target: '_blank' do %>
    <i class="fa fa-facebook-official fa-3x"></i>

  <% end %>
  <%= link_to @project.instagram_link, target: '_blank' do %>
    <i class="fa fa-instagram fa-3x"></i>
  <% end %>

  <%= link_to @project.youtube_link, target: '_blank' do %>
    <i class="fa fa-youtube fa-3x"></i>
  <% end %>

<% end %>

<% content_for :contato do %>
  <%= mail_to @project.email,  "Contato", class: "btn btn-default" %>
<% end %>

