<p id="notice"><%= notice %></p>

<h1> <b><%= @team.name %> </b> </h1>

<p>
  <strong>Name: </strong>
  <%= @team_user.user.name %>
</p>

<p>
  <strong>Role: </strong>
  <%= @team_user.role %>
</p>

<%= link_to 'Edit', edit_admin_event_team_user_path(@team_user,
          event_team_id: @team_user.team, code: @event.code) %> |
<%= link_to 'Back', admin_event_team_users_path(event_team_id: @team_user.team,
          code: @event.code) %>
