<%= simple_form_for [:admin_event, @team], url: admin_event_team_path(@team , :code => @event.code)  do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, value: "Enviar", class: "btn btn-primary btn-lg btn-block" %>
  </div>
<br>
  <div class="well row centered ">
      
    <!-- Single button -->
    <div class="btn-group">
      <button type="button" class="btn btn-danger btn-sm  dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Excluir <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><%= link_to 'Excluir do Sistema', admin_event_team_path(@team, :code => @event.code), method: :delete, data: { confirm: 'Tem certeza?' } %></li>
      </ul>
    </div>
   
   </div>
  
<% end %>
