<div class="container">
  <div class="row centered">
      <h2><%= @team.name %>
      </h2>
      <hr>
   </div>
   </div>

<div class="container">
<div class="row col-lg-5 col-lg-offset-1 table-responsive">

<h3> Membros </h3>
<table class="table table-hover", style="background:#fff">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Tipo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @team_users.each do |team_user| %>
      <tr>
        <td><%= team_user.user.name %></td>
        <td><span class="label label-warning label-mini"><%= team_user.role %></span></td>
<!--
        <td>
          <%= link_to  admin_event_team_user_path(team_user,
          event_team_id: team_user.team, code: @event.code) do %>
            <i class="fa fa-eye"></i>
          <% end %>
        </td>
-->
        <td>
          <%= link_to edit_admin_event_team_user_path(team_user,
          event_team_id: team_user.team, code: @event.code) do %>
            <i class="fa fa-pencil"></i>
          <% end %>
        </td>
        <td>
          <%= link_to admin_event_team_user_path(team_user,
          event_team_id: team_user.team, code: @event.code), method: :delete, data: { confirm: 'Tem certeza?' } do %>
            <i class="fa fa-trash-o"></i>
        <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<p class="pull-right">
<%= link_to 'Novo Membro', new_admin_event_team_user_path(code: @event.code, event_team_id: @team), class: "btn btn-warning" %>
</p>
</div>




<div class="row col-lg-4 col-lg-offset-1 table-responsive">
<h3> Projetos </h3>
<table class="table table-hover", style="background:#fff">
  <thead>
    <tr>
      <th>Nome</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @team.projects.each do |team_project| %>
      <tr>
        <td><%= team_project.name %></td>
        <td>
          <%= link_to project_path(code: @event.code, project_name: team_project.name.parameterize),target: "_blank" do %>
            <i class="fa fa-eye"></i>
          <% end %>
        </td>

        <td>
          <%= link_to edit_admin_event_team_project_path(team_project,
          event_team_id: team_project.team, code: @event.code) do %>
            <i class="fa fa-pencil"></i>
          <% end %>
        </td>
        <td>
          <%= link_to admin_event_team_project_path(team_project,
          event_team_id: team_project.team, code: @event.code), method: :delete, data: { confirm: 'Tem certeza?' } do %>
            <i class="fa fa-trash-o"></i>
        <% end %>
        </td>

      </tr>
    <% end %>
  </tbody>
</table>
<p class="pull-right">
<%= link_to 'Novo Projeto', new_admin_event_team_project_path(code: @event.code, event_team_id: @team), class: "btn btn-success" %>
</p>
</div>

<!--
<%= link_to 'Voltar', admin_event_teams_path(code: @event.code), class: "btn btn-default" %>
<%= link_to 'Editar', edit_admin_event_team_path(@team, code: @event.code), class: "btn btn-primary" %>

<%= link_to 'Membros', admin_event_team_users_path(code: @event.code, event_team_id: @team) %> |
<%= link_to 'Projetos', admin_event_team_projects_path(code: @event.code, event_team_id: @team) %>
-->

</div>
