<div class="container">
  <div class="row centered">
      <h2><%= @team.name %></h2>
      <hr>
   </div>
   </div>

<div class="container">
<div class="row col-lg-5 col-lg-offset-1 ">

<div class="panel panel-warning table-responsive">
  <!-- Default panel contents -->
  <div class="panel-heading"><b>Membros</b></div>
<table class="table table-hover table-responsive", style="background:#fff">

  <tbody>
    <% @team_users.each do |team_user| %>
      <tr>
        <td><%= team_user.user.name %></td>
        <td><span class="label label-warning label-mini"><%= team_user.role %></span></td>
<!--
        <td>
          <%= link_to  admin_event_team_user_path(team_user,
          event_team_id: team_user.team, code: @event.code) do %>
            <i class="fa fa-eye"></i>
          <% end %>
        </td>
-->
        <td>
          <%= link_to edit_admin_event_team_user_path(team_user,
          event_team_id: team_user.team, code: @event.code) do %>
            <i class="fa fa-pencil btn btn-default btn-xs"></i>
          <% end %>
        </td>
        <td>
          <%= link_to admin_event_team_user_path(team_user,
          event_team_id: team_user.team, code: @event.code), method: :delete, data: { confirm: 'Tem certeza?' } do %>
            <i class="fa fa-trash-o btn btn-default btn-xs"></i>
        <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>
<p class="pull-right">
<%= link_to 'Novo Membro', new_admin_event_team_user_path(code: @event.code, event_team_id: @team), class: "btn btn-warning" %>
</p>
</div>



<div class="row col-lg-4 col-lg-offset-1 ">

<div class="panel panel-success table-responsive">
  <!-- Default panel contents -->
  <div class="panel-heading"><b>Projetos</b></div>

<table class="table table-hover table-responsive", style="background:#fff">

  <tbody>
    <% @team.projects.each do |team_project| %>
      <tr>
        <td><%= team_project.name %></td>
        <td>
          <%= link_to project_path(code: @event.code, project_name: team_project.path),target: "_blank" do %>
            <i class="fa fa-eye btn btn-default btn-xs"></i>
          <% end %>
        </td>

        <td>
          <%= link_to edit_admin_event_team_project_path(team_project,
          event_team_id: team_project.team, code: @event.code) do %>
            <i class="fa fa-pencil btn btn-default btn-xs"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<p class="pull-right">
<%= link_to 'Novo Projeto', new_admin_event_team_project_path(code: @event.code, event_team_id: @team), class: "btn btn-success" %>
</p>
</div>

<!--
<%= link_to 'Voltar', admin_event_teams_path(code: @event.code), class: "btn btn-default" %>
<%= link_to 'Editar', edit_admin_event_team_path(@team, code: @event.code), class: "btn btn-primary" %>

<%= link_to 'Membros', admin_event_team_users_path(code: @event.code, event_team_id: @team) %> |
<%= link_to 'Projetos', admin_event_team_projects_path(code: @event.code, event_team_id: @team) %>
-->
</div>

<div class="container">
  <br>
  <div class="well row centered col-lg-10 col-lg-offset-1">
      <%= link_to 'Editar Equipe', edit_admin_event_team_path , class: "btn btn-primary btn-sm" %>

   </div>
   </div>
