<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= content_for?(:title) ? yield(:title) : "Admin - MedHacker" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "MedHacker" %>">
    <%= stylesheet_link_tag 'administrator', media: 'all', 'data-turbolinks-track' => true %>
    <%= favicon_link_tag "favicon.png"%>
    <%= csrf_meta_tags %>
    <!-- Custom Fonts -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

  </head>

  <body>
  <section id="container" >
      <!-- **********************************************************************************************************************************************************
      TOP BAR CONTENT & NOTIFICATIONS
      *********************************************************************************************************************************************************** -->
      <!--header start-->
      <header class="header black-bg">
              <div class="sidebar-toggle-box">
                  <div  id="menu-toggle" class="fa fa-bars tooltips" data-toggle="tooltip" href="#menu-toggle" data-placement="right" title="Toggle Navigation"></div>
              </div>
            <!--logo start-->
            <%=link_to (admin_root_path) , class: "logo" do %>
              <b>MedHacker</b>
            <% end %>
            <!--logo end-->
            <div class="nav notify-row" id="top_menu">
                <!--  notification start -->
                <ul class="nav top-menu">
                    <!-- settings start -->
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#" data-toggle="tooltip" title="Projetos Cadastrados!">
                            <i class="fa fa-heartbeat"></i>
                            <span class="badge bg-theme"><%= Project.count %></span>
                        </a>
                    </li>
                    <!-- settings end -->
                </ul>
                <!--  notification end -->
            </div>
            <div class="top-menu">
              <ul class="nav pull-right top-menu">
                  <li>
                    <%= link_to "Sair", destroy_user_session_path, :method=>'delete', class: 'logout'%>
                  </li>
              </ul>
            </div>
        </header>
      <!--header end-->

    <div id="wrapper">

        <!-- Sidebar -->
                   <div id="sidebar-wrapper" class="user"  style="background:#424a5d">
            <ul class="sidebar-nav">
               <p class="centered"><a>
                <br><br><br><br>
                <%= link_to admin_user_path(current_user) do %>
               <%= image_tag("ui-danro.jpg", class: "img-circle",width:"70" ) %></a></p>
               <%end%>
               <h5 class="centered">
                 <b><%= current_user.name %></b>
                 <br>
                 <span class="label label-warning label-mini"><%= current_user.role %></span>

               </h5>


               <li class="mt">
                  <%= link_to(admin_events_path) do %>
                      <i class="fa fa-th"></i>
                      <span>Eventos</span>
                  <% end %>
               </li>

                <% if policy(current_user).index? %>
                <li class="">
                  <%= link_to(admin_users_path) do %>
                    <i class="fa fa-user-md"></i>
                      <span>Usuários</span>
                  <% end %>
                </li>
                <% end %>

              <% if policy(current_user).index? %>
               <li class="">
                  <%= link_to(admin_home_configuration_path) do %>
                      <i class="fa fa-cogs"></i>
                      <span>Página Inicial</span>
                  <% end %>
               </li>
               <% end %>
               
              <li class="">
                  <%= link_to equipes_admin_user_path(current_user) do %>
                      <i class="fa fa-users"></i>
                      <span>Minhas Equipes</span>
                  <% end %>
               </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container">
                              <div class="row ">
                              <ol class="breadcrumb">
                                <%= render_breadcrumbs :tag => :li, :separator => "" %>
                              </ol>
                                </div>

                              <div class="row ">
                                <%= render 'layouts/messages' %>
                              </div>

                              <div class="row ">
                                <%= yield %>
                              </div>
                              <div class="row ">
                                <%= render '/layouts/form_back' %>                               
                              </div>
                              
                  <!--main content end-->
                </div>
            </div>
       
        <!-- /#page-content-wrapper -->

        <!--footer start-->
        <footer class="site-footer">
            <div class="text-center">
                &copy;Copyright 2016 &middot; MedHacker &middot; Todos os direitos reservados &middot; Desenvolvido por: <a href="http://craosx.com"target="_blank">CRAOSX.com</a>

    
                <a href="#" class="go-top"><i class="fa fa-angle-up"></i>
                </a>
            </div>
        </footer>

         </div>
        <!--footer end-->
   <%= javascript_include_tag 'administrator', 'data-turbolinks-track' => true %>


  </body>
</html>
