<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Medhacker" %>">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= favicon_link_tag "favicon.png"%>
    <%= csrf_meta_tags %>

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <title><%= content_for?(:title) ? yield(:title) : "Medhacker" %></title>
  </head>
<!-- NAVBAR
================================================== -->
  <body style="min-height: auto;">
    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <%= link_to (root_path), class: "navbar-brand" do %>
            <%= image_tag 'logo2.png', height: 50 %>
          <% end %>

        </div>
        <div id="navbar" class="navbar-collapse collapse">
           <ul class="nav navbar-nav navbar-left">
               <li>
                  <%= link_to (events_path) do %>
                    <i class="fa fa-clone"></i> Eventos
                  <% end %>
               </li>
               <li>
                  <%= link_to (events_projects_path) do %>
                    <i class="fa fa-star"></i> Projetos
                  <% end %>
               </li>
           </ul>

          <ul class="nav navbar-nav navbar-right">


            <%= render 'layouts/nav_links_for_auth' %>


          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>


    <%= render 'layouts/messages' %>
    <%= yield %>




    <!-- FOOTER -->

<footer>
<hr>
<div class="container">
    <p class="pull-right"><a href="#" style="color:#000"><i class="fa fa-sort-asc fa-2x"></i></a></p>
    <br>
    <p class="text-center">&copy; Copyright 2016 &middot; MedHacker &middot; Todos os direitos reservados</p>
    <small><p class="text-center" style="color:#888">Desenvolvido por: <a href="http://craosx.com" style="color:#888" target="_blank">CRAOSX.com</a></p></small>
</div>
<hr>
</footer>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </body>
</html>
