<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Medhacker" %>">

    <%= stylesheet_link_tag 'project', media: 'all', 'data-turbolinks-track' => true %>
    <%= favicon_link_tag "favicon.png"%>
    <%= csrf_meta_tags %>

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <title><%= content_for?(:title) ? yield(:title) : "Medhacker" %></title>
  </head>
  <body>

      <%= render 'layouts/messages' %>

    <nav class="navbar navbar-default navbar-fixed-top" style="background-color: #fff;">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <%= link_to (root_path), class: "navbar-brand" do %>
            <%= image_tag 'logo.png', height: 50 %>
          <% end %>


        </div>

        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-left">
              <li><a><span class="fa fa-heartbeat"></span><%= yield :name %></a></li>
              <li><a><span class="fa fa-group"></span><%= yield :team %></a></li>

            </ul>

          <ul class="nav navbar-nav navbar-right">
              <li><a href="#problema">Problema</a></li>
              <li><a href="#solucao">Solução</a></li>
              <li><a href="#equipe">Equipe</a></li>
              <li><p class="navbar-btn text-center"><%= yield :contato %></p></li>
          </ul>




        </div><!--/.nav-collapse -->
      </div>
    </nav>


   <!-- Carousel
================================================== -->
<%= yield :carousel %>
<!-- /.carousel -->


<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

  <!-- START THE FEATURETTES -->

  <div id="problema" class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Qual o problema?</h2>
      <p class="lead"> <%= yield :problem %> </p>
    </div>
    <div class="col-md-5">
      <%= yield :image_problem %>
    </div>
  </div>

  <hr class="featurette-divider">

  <div id="solucao" class="row featurette">
    <div class="col-md-7 col-md-push-5">
      <h2 class="featurette-heading">Qual a solução?</h2>
      <p class="lead"> <%= yield :solution %></p>
    </div>
    <div class="col-md-5 col-md-pull-7">
      <%= yield :image_solution %>
    </div>
  </div>

  <hr class="featurette-divider">

  <div id="equipe" class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Quem é a equipe?</h2>
      <p class="lead"> <%= yield :team_description %></p>
    </div>
    <div class="col-md-5">
      <%= yield :image_team %>
    </div>
  </div>

  <hr class="featurette-divider">

  <!-- /END THE FEATURETTES -->

</div><!-- /.container -->

<!-- FOOTER -->
<footer>
<div class="container text-center">
    <p class="pull-center">
        <%= yield :networks %>
    </p>
    <br>
    <p>&copy; Copyright 2016 &middot; MedHacker &middot; Todos os direitos reservados</p>
</div>
<hr>
</footer>

    <%= javascript_include_tag 'project', 'data-turbolinks-track' => true %>
  </body>
</html>
